:root {
    line-height: 1.5;
    font-weight: 400;
    font-size: 16px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
// Global Fonts

.container {
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-right: auto;
    margin-left: auto;
  }
  @media (min-width: 1920px) {
    .container {
      max-width: 1340px;
      padding-right: 1rem;
      padding-left: 1rem;
    }
  }